:root {
	--accent: 255, 0, 85;
	--accent-cyan: 0, 255, 255;
}

html {
	background-color: #000;
	font-family: system-ui, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    overflow-x: hidden;
}

code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}
